@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

.center-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  gap: 24px;
}

.full-grid {
  height: 100%;
  padding: 0;
}

.half-row {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-col {
  height: 100%;
}

ion-button {
  --border-radius: 12px;
  --background: transparent;
}

ion-button.save {
  --color: white;
  padding-top: 40px;
}
ion-button.save::part(native) {
  background-image: linear-gradient(-180deg, #e31818, #de4848);
}

ion-button.go {
  --color: black;
  padding-bottom: 50px;
}

ion-button.go::part(native) {
  background-image: linear-gradient(-180deg, #247e51, #38c981);
}

.full-btn {
  height: 100%;
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  font-size: clamp(1rem, 6vw, 2.5rem);
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  display: inline-block;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}


ion-toast.custom-toast {
  --background: #f4f4fa;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: #4b4a50;
}

ion-toast.custom-toast::part(message) {
  font-style: italic;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  text-align: center;
}

ion-title {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px;
  border: 3px solid green; 
}